packages:
  yum:
    poppler-utils: []
    java-17-amazon-corretto.x86_64: []
    cups-libs: []
    libxslt: []
    libX11-xcb: []

commands:
  install_additional_packages:
    command: |
      sudo yum update -y && 
      wget https://mirrors.arunmathaisk.in/tdf/libreoffice/stable/24.8.3/rpm/x86_64/LibreOffice_24.8.3_Linux_x86-64_rpm.tar.gz && 
      tar -xvzf LibreOffice_24.8.3_Linux_x86-64_rpm.tar.gz && 
      sudo yum install -y LibreOffice_24.8.3.2_Linux_x86-64_rpm/RPMS/*.rpm
