# .ebextensions/sample.config

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/my_custom_config.txt":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Custom configuration file
      This is Karthik 

commands:
  add_custom_script:
    command: "echo 'Hello, this is a custom script!' > /etc/my_custom_script.sh"
    ignoreErrors: false

container_commands:
  01_setup_permissions:
    command: "chmod +x /etc/my_custom_script.sh"
  02_run_custom_script:
    command: "/etc/my_custom_script.sh"
